<h1>かとりょーは何者？</h1>
<%= link_to 'はてなプロフィール', 'http://www.hatena.ne.jp/katryo/', :target => '_blank' %>
<%= link_to 'Twitter', 'http://twitter.com/#/katryo', :target => '_blank' %>

<h1>かとりょーが作ったもの</h1>
<%= link_to 'にせほボタン', 'http://nisehobutton.heroku.com', :target => '_blank' %>


