    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/katryogift/index">katryogift〜かとりょー支援プラットフォーム〜</a>
        <ul class="nav">
          <li>

          <a href="/katryogift/index"><span class="label">ホーム</span></a></li>
          <li>
          <a href="/katryogift/index"><span class="label">サポーター</span></a>
          </li><li>
          <a href="/katryogift/index"><span class="label">活動報告</span></a>
                  </li>
                  <li><a href="/katryogift/index"><span class="label label-warning">支援プレイヤー募集中！</span></a>
                  </li>
                  <li>
                  
                  </li>
                    </ul>
        
      </div>
    </div>
    </div>
    <div class="container">
      <div class="Hello">
          <h1>
              <br>
              <br>
              <br>
          <br>
          かとりょーは、学費を支援してくださるサポーターを自分でも気づかないうちに心のどこかで探しているのかもしれません。
          <br><br>
          <h4>
          どうでもいいですね。はい。<br>
          自己紹介します。
        </h4>
        <br><br>
      </h1>
      <br>
    </div>

 <div class="row">
   <div class="span4">
     <img src="http://dl.dropbox.com/u/17538030/shot2_icon.jpg" width=280>
    </div>
    <div class="span8">
      <div class="row">
        <div class="span1">
          <h3>
            残り<br></h3>
          <h2>
            1日
          </h2>
      </div>
      <div class="span2"><h3>
          サポーター<br></h3>
          <h2>
        0人
          </h2>
      </div>
      <div class="span5">
        <h3>
          このページにかけた時間　　6時間くらい
        </h3>
        <div class="progress progress-striped active">
            <div class="bar"
                     style="width: 25%;"></div>
                 </div>
      </div>
    </div>
    <br>
    <br>
    <h2>
      1分間スピーチのネタ完成！　ありがとうございました。</h2><br>
    <p>
    ※5/26を持ちまして超交流会のネタお申し込みを締め切らせていただきました。かとりょーさんの現在の状況「明日が超交流会なのに練習ほとんどしてない」、今後の現実復帰に関する手続き詳細に関しましては、改めてサポーターの皆様にご連絡させて頂きます。<br>
    ※学費は学生の両親が働いて稼いだお金で支払っています。<br>
    ※募集額を超えて集まった資金がもしあるのならばかとりょーがすべていただきます。
    </p>
    <h3>
      「下スペースに大切な自己紹介を掲載いたしました。」
    </h3>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="span4">
    <a href="http://twitter.com/#!/katryo" target="_blank">
      <img src="http://dl.dropbox.com/u/17538030/twitter.jpg" width=280><br>
    
     Twitter<br>
     http://twitter.com/#!/katryo
   </a>
  </div>
  <div class="span4">
    <a href="http://higashinoterakoya.herokuapp.com" target="_blank">
      <img src="http://dl.dropbox.com/u/17538030/higashi.jpg" width=280><br>
     ひがしのてらこや。<br>
     http://higashinoterakoya.herokuapp.com
   </a>
  </div>
  <div class="span4">
    <a href="http://easternretroschool.web.fc2.com/apindex.html" target="_blank">
      <img src="http://dl.dropbox.com/u/17538030/anathema.jpg" width=280><br>
     アナテマ・フィジクス<br>
     http://easternretroschool.web.fc2.com/apindex.html
   </a>
   </div>
 </div>

 <hr>
 <div class="row">
   <div class="span8">
     <img src="http://dl.dropbox.com/u/17538030/seat_icon.jpg" width=600>
     <br><br>
     <h2>
       農学部から情報学研究科に来たこと
     </h2>
     <br>
     <p>
     かとりょーといいます。京都府京都市出身です。ちゃんと学費払ってます。退学にはなってません。
     <br><br>
     僕は去年まで京大の農学部にいたんですよね。地域環境工学科。地域の環境を工学する学科です。<br>
     要するに農業工学科です。かつてはそう呼ばれていたのですが、いつのまにか地域の環境を工学する学科に身をやつしてしまいました。おかげで説明がしにくいことこのうえない。<br>
     
     農学部ではダムとか水理学とかそんなのやってる研究室にいました。卒業論文は、某企業と共同で、実験ばっかりで解析もほとんどやらない、妙なことやってました。
     <br><br>
     でも、僕は情報学やりたいと思ったんです。<br>
     そして京大大学院の情報学研究科に入学しました。
     どうしてか？<br>
     面白い人がいる。情報の研究楽しい。情報学はお金になりそう。<br>
     ぜんぶ僕の本当の気持ちです。<br>
     だけれど、もし一番の理由を答えるとしたら。<br>
     <br>
     <h3>
       誰にも負けない力を持ちたかった。
     </h3>
     <br>

     情報系の大学院に来なくても、プログラミングはできます。実装力というものは、情報理論とは少し離れた場所にあります。<br>
     でも、僕が欲しいのは実装力だけではありません。
     
     <br><br>

     これまでの僕には、専門分野がありませんでした。農学部での研究分野について知らないし、学業以外にとりたてて得意なものはない。アルバイト先やサークルで出会う達人たちは、長い時間をかけて自分の得意な分野を伸ばしてきた人でした。


     そして僕は、彼らに負けたくないと思いました。長い時間をかけて、誰よりも大きな知恵と知識を手に入れようと願いました。<br><br>
     今からでも本気で学べば、どこかで追い越せるんじゃないかと考えたんです。<br><br>

     結局のところ、負けるのがいやでやってるだけです。
     そんなに立派な理由じゃないですね。そしてかなりの厨二レベルです。はっきり言うと、厨二力ではそこらの中学生には負けません。

     <br>
     もはや僕の専門は厨二力と言っていいかもしれません。
     <br>
     この厨二力が、インドの修行僧のように現実世界に具現化するといいなーと思います。
     <br>
     
     <br><br>
     <img src="http://dl.dropbox.com/u/17538030/rain2_icon.jpg" width=600>
     <br>
     <br>
     <h2>
       私の選んだ挑戦
     </h2>
     <br>
     Rubyを今年の2月に始めました。<br>
     pythonを今月から始めました。<br>
     やってみたらけっこう簡単にとりあえずのものは作れるんですね。僕が友達と一緒に作った、ゲーム制作サークル「ひがしのてらこや。」のサイト、Railsで作れました。記事の投稿機能が便利です。ありがとうRailscast。<br>
     それでも、データ構造とかUNIXとか、学部1回生から勉強してきた人との差をひしひしと感じてます。授業でやってるなんてずるい。<br>
     あと2ヶ月くらいで、学部での基礎教養レベルまでは勉強し終わりたいです。がんばるぞー。
     <br>
     <br>
     <img src="http://dl.dropbox.com/u/17538030/yakei2.jpg" width=600>
     <br><br>
     <h2>
       ノベルゲーム「アナテマ・フィジクス」
     </h2>
     <br>
     僕たちが作ったノベルゲームを遊んでください。<br>上のが、ゲーム中の画像です。<br>
     BGM、ビジュアル、手の抜いたところはありません。面白い自信があります。なのでとりあえずやってみてね。今のところWindows向けしかないですけど、iOS版も制作中です。
     <br>

     <img src="http://dl.dropbox.com/u/17538030/myname.jpg" width=260>
     <br>
     <a class="btn btn-large btn-inverse" href="http://www.melonbooks.com/index.php?main_page=product_info&amp;products_id=IT0000140064" target="_blank"><i class="icon-heart icon-white"></i>　かとりょーが作ったゲームを遊ぶ</a>
     <a class="btn btn-large btn-inverse" href="http://www.melonbooks.com/index.php?main_page=product_info&amp;products_id=IT0000140064" target="_blank"><i class="icon-user icon-white"></i>　特別サポーターとしてゲームを遊ぶ</a>
     </p>
     <br>
     <br>
     

   </div>
   <div class="span4">
     <div class="hero-unit">
       <h4>
     サポーターがかとりょーに対するを支援をするには、かとりょーの作ったゲームを遊んでTwitter、Facebookなどで宣伝するのがよいです。残りの学費は家族や親戚、政府や団体を頼りながら自力で集めることをルールとしています。
 </h4></div>
       <p>
     <h3>
       かとりょーのゲームを遊ぶと<br>
       <br>
     </h3>
     <h4>
       ・幸せな気持ちになれる<br><br>
     </h4>
     かとりょーが作ったノベルゲーム「アナテマ・フィジクス」は、非常に高品質かつ意外性あるシナリオが魅力です。音楽は実力派コンポーザー吟が担当。キャラクターデザインは市町村。クリーチャーデザインは松永闇斎。無敵の布陣があなたを迎撃します。
     <br>
     <br>
     <h4>
       ・サポーター集会<br><br>
     </h4>
     「アナテマ・フィジクス」のファンが集まって、感想を語りあったり謎を推理するといいんじゃないですかね。<br><br>

     <a class="btn btn-large btn-inverse" href="http://www.melonbooks.com/index.php?main_page=product_info&amp;products_id=IT0000140064" target="_blank"><i class="icon-user icon-white"></i>　かとりょーが作ったゲームを遊ぶ</a>
     </p>

   <hr>
   <h3>
     プロフィール
   </h3>
   <br>
   名前<br>
   かとりょー<br>
   
   <br>
   出身地<br>
   京都府京都市<br><br>


   居住地<br>
   京都府京都市在住<br><br>


   所属<br>
   京都大学大学院情報学研究科社会情報学専攻<br>
   （修士課程1回生）
   <hr>
   <h3>
     別の方法で援助するには
   </h3>
   <br>
かとりょー本人と話をして、一番いい援助方法を一緒に考えるのがいいと思います。15万円くらいもらえたらうれしいです。
   <br>
   <br>
<a href="https://twitter.com/intent/tweet?screen_name=katryo" class="btn btn-large btn-info" data-related="katryo"><i class="icon-comment icon-white"></i>　かとりょーとお話する</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br><br>
<a href="https://twitter.com/intent/tweet?screen_name=katryo" class="btn btn-large btn-info" data-related="katryo"><i class="icon-glass icon-white"></i>　さけをおごる</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br><br>
<a href="https://twitter.com/intent/tweet?screen_name=katryo" class="btn btn-large btn-info" data-related="katryo"><i class="icon-gift icon-white"></i>　お金を振り込む</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>

 </div>
 
     
 <div class="hero-unit">
     ひがしのてらこや。では、アナテマ・フィジクスの様な企画をリリースし、学生や優秀な若い世代にプレイしてもらおうと思っています。
     もし「ノベルゲームやりたい」「むしろノベルゲーム作りたい」という方はひがしのてらこや。チームとプロジェクトをやりましょう。<br>

     僕はこれからも色んな人たちからサポートされていきたい。<br>
   <h4>
     ひがしのてらこや。代表 かとりょー　/　ゲームの感想募集中！
   </h4>
   </div>

 <div class="page-header">
   <h2>Moto Neta</h2>
 </div>
 元ネタはこちらです
 <a href="http://studygift.net/home.php">
   http://studygift.net/home.php
 </a>
 家入さんやLivertyの人、すみませんでした。しかしありがとうございます。
 <hr>
 特定商取引法に基づく表記｜支援者向け利用規約｜プライバシーポリシー｜
 <br><br>
   </div>
